@tailwind base;
@tailwind components;
@tailwind utilities;
/* Define the Latha font */

/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.ql-font-roboto {
  font-family: "Roboto", Arial, Helvetica;
}
